name: Auto-create Release Environment

# Run when a repo is created; we'll only run when the repository is a template
on:
  repository:
    types: [created]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  create-from-template:
    if: github.event.repository.is_template == true
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install GH CLI
        run: |
          sudo apt-get update -y
          sudo apt-get install -y gh

      - name: Create release and docs environments
        run: |
          chmod +x ./scripts/create-environment.sh
          # Create release env
          ./scripts/create-environment.sh release ""
          # Create docs env to gate GitHub Pages deployment
          ./scripts/create-environment.sh docs ""
